In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\ala\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
import pandas as pd

In [9]:
data={'نام':['Ali', 'Reaza', 'Sara'], 'نمره':[88, 92, 78], 'سن':[19, 15, 17]}

In [10]:
df = pd.DataFrame(data)
df

     نام  نمره  سن
0    Ali    88  19
1  Reaza    92  15
2   Sara    78  17